.App {
  display: block;
  width: 900px;
  margin: auto;
}

.App-header {
  height: 2rem;
  color: black;
}

.App-title {
  font-size: 1rem;
  color: black;
  text-align: center;
}

.App-intro {
  font-size: large;
}

