.podcastSearchBar {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.podcastSearchBar input {
    height: 2rem;
    box-shadow: 0.0rem 0.0rem 0.0rem rgba(216, 161, 208, 0.8);
    font-size: 1.6rem;
    width: 90%;
    background: none;
    outline: none;
    border: none;
    color: #313131;
}

.podcastSearchBar input:focus {
    /* TODO: trigger searchDonutFocused when podcastSearchBar focused */
}

.searchDonutFocused {
    animation: Search-cursor-blink 1.2s linear infinite;
}

.searchDonut {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #7983ff;
    border-radius: 2%;
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
}

.podcastSearchResult {
    margin-left: 65%;
}

.podcastSearchResult img {
    height: 10rem;
    width: 10rem;
}

@keyframes Search-cursor-blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
