@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 0.5rem rgba(216, 161, 208, 0.8);
    }
    50% {
        box-shadow: none;
    }
}
